@media screen and (max-width: 992px) {
    #topbar {
        height: 181px;
    }
    #topbar .center {
        flex-direction: column;
    }
    #topbar nav {
        margin-top: 14px;
    }
    #carroussel img {
        width: 100%;
    }
    article..destination__three-column div {
        max-width: 33%;
    }
    article.destination__three-column img {
        max-width: 100%;
    }
    #carroussel aside {
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .destination__column {
        width: 33%;
    }
}

@media screen and (max-width: 768px) {
    #topbar {
        height: 367px;
    }
    .topbar__logo {
        text-align: center;
    }
    #topbar nav {
        margin-top: 0;
    }
    #topbar nav ul {
        display: flex;
        flex-direction: column;
    }
    #topbar nav ul li {
        border-top: 1px solid white;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    #topbar nav ul li:first-child a {
        color: red;
    }
    .prev,
    .next {
        top: 45%;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
    #description__news {
        display: flex;
        flex-direction: column;
    }
    #description__news .column {
        margin-bottom: 60px;
    }
    #description__news .column:last-child {
        margin-bottom: 0;
    }
    .description__news-title h3 {
        padding: 0 25px 0 25px;
    }
    .destination__three-column {
        display: block;
    }
    .destination__column {
        width: 100%;
        margin-bottom: 25px;
    }
    .destination__column span {
        font-size: 15px;
    }
    .information__two-column {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .center {
        width: 70%;
    }
    .column {
        width: 100%;
    }
    .information__about-us {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
    }
    .information__why-us {
        width: 100%;
    }
    .why-us__icon i {
        min-width: 90px;
    }
    footer nav ul a {
        padding: 0 5px;
    }
}